*{
    margin: 0px;
    padding: 0px;
}

.card{
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    padding: 10px;
    
}

.bg-offWhite{
    background-color: #F8FBFF;
    
}
.custom{
   position: absolute;
   top: 90%;
   width: 100%;

   
}
.bg-primay{
    background-color: #2B72EE;
}
.bg-offWhite{
    background-color: #F8FBFF;
}
.menu-bar{
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}
.brdr{
    border-bottom: 1px solid black;
}
ul {
    list-style-type: none;
}
.head-container{
    position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
   .special-text{
    font-size: 12px;
   }
}

.custom-margin{
    margin-bottom:80px ;
}


@media screen and (max-width:768px){
   .custom-margin{
    margin-bottom: 430px;
   }
   .custom{
    top: 105%;
   }
}

@media screen and (max-width:454px){
    .custom-margin{
        margin-bottom: 450px;
    }
}
@media screen and (max-width:580px){
    .table-responsive{
       font-size: 10px;
    }
}




.fa {
    padding: 8px;
    font-size: 30px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: #3B5998;
    background:white ;
  }
  
  .fa-twitter {
    background:white ;
    color: #55ACEE;
  }
  
  .fa-google {
    background:white ;
    color: #dd4b39;
  }
  
  .fa-linkedin {
    background: white;
    color: #007bb5;
  }

  @media screen and (max-width:376px){
    .head-btn{
       font-size: 12px;
    }
}

ul li a{
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}



.calendar-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
    /* border: 1px solid red; */
  }
  .wrapper{
    width: 100%;
    background: #fff;
    border-radius: 10px;
    /* box-shadow: 0 15px 40px rgba(0,0,0,0.12); */
  }
  .wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
  .calendar{
    padding: 20px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 40px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background:#507cdc;
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }